<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_sales'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/w/index.php?title=English_alphabet&oldid=819841239
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920. -->
			<group
				id='documents_numeration'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='415'
				translate='label'
			>
				<label>Documents Numeration</label>
				<dfExtension>Dfe_SalesSequence</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/sales-documents-numeration'>Sales Documents Numeration</a>» extension?]]></comment>
				</field>
				<field
					id='needPad'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Pad Numbers with Leading Zeros?</label>
			<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If enabled, the number <code>2189</code> will be rendered as <code>000002189</code>.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfMax='10'
					dfMin='1'
					id='padLength'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='Df\Framework\Form\Element\Select\Range'
				>
					<label>Numbers Length</label>
					<comment><![CDATA[The minimum number of digits to display in the increment part of a sales document's number.<br/>The increment part is a document number without a prefix and suffix.<br/>A sales document's number will be padded with the leading zeros to the specified length.<br/>The default length is <code>9</code>, so the number <code>2189</code> is rendered as <code>000002189</code><br/>(<code>4</code> significant digits and <code>9 - 4 = 5</code> leading zeros).]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='needPad'>1</field>
					</depends>
				</field>
				<field
					id='affix'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
					type='Dfe\SalesSequence\Config\Affix\Element'
				>
					<label><![CDATA[Prefix & Suffix]]></label>
					<comment><![CDATA[You can use the following variables in a prefix/suffix: <table class='df-note'><tbody>
		<tr>
			<td>{STORE-ID}</td>
			<td>It will be replaced with the store's ID.</td>
		</tr>
		<tr>
			<td>{STORE-CODE}</td>
			<td>It will be replaced with the store's code.</td>
		</tr>
		<tr>
			<td>{a date expression}</td>
			<td>It will be replaced with the current date.
			<br/>Use any expression supported by <a href="http://php.net/manual/en/function.date.php#refsect1-function.date-parameters">PHP <code>date()</code></a> function.
			<br/>Examples:
			<br/>{y-m} => <i>16-01</i>
			<br/>{Y-m} => <i>2016-01</i>
			<br/>{Y-M} => <i>2016-Jan</i>
			</td>
		</tr>
</tbody></table>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='next'
					showInDefault='1' showInStore='0' showInWebsite='0'
					sortOrder='5'
					translate='label'
					type='Dfe\SalesSequence\Config\Next\Element'
				>
					<label>Next Numbers</label>
					<comment><![CDATA[]]></comment>
					<backend_model>Dfe\SalesSequence\Config\Next\Backend</backend_model>
					<depends><field id='enable'>1</field></depends>
				</field>
			</group>
		</section>
	</system>
</config>