<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Config:etc/system_file.xsd'
>
    <system>
        <tab id='_df' translate='label' sortOrder='-100'>
            <label>Mage2.PRO</label>
        </tab>
        <section
            id='df_sales'
            translate='label'
            type='text'
            showInDefault='1'
            showInWebsite='1'
            showInStore='1'
        >
            <tab>_df</tab>
            <label>Sales</label>
            <class>separator-top</class>
            <!--
                2015-10-05
                https://mage2.pro/t/114
            -->
            <resource>Df_Sales::config</resource>
            <!--
                2015-09-25
                Первые 2 цифры sortOrder соответствуют порядковому номеру первой буквы модуля
                в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
            -->
            <group
                id='documents_numeration'
                translate='label'
                type='text'
                sortOrder='13'
                showInDefault='1'
                showInWebsite='1'
                showInStore='1'
            >
                <label>Documents Numeration</label>
                <field
                    id='enable'
                    translate='label'
                    type='Df\Framework\Data\Form\Element\Checkbox'
                    sortOrder='1'
                    showInDefault='1'
                    showInWebsite='0'
                    showInStore='0'
                >
                    <label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[Enable the «<a href='https://mage2.pro/t/512'>Sales Documents Numeration</a>» extension?]]></comment>
                </field>
				<field
					id='next'
                    type='Dfe\SalesSequence\Config\Matrix\Element'
					translate='label'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Next Numbers</label>
					<comment><![CDATA[]]></comment>
					<backend_model>Dfe\SalesSequence\Config\Matrix\Backend</backend_model>
                    <depends><field id='enable'>1</field></depends>
				</field>
            </group>
        </section>
    </system>
</config>